main {
    background-color: #A7D129;
    padding: 10px;
    width: 250px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 15px;
    margin-bottom: 10px;
}

#box-card {
    display: flex;
    flex-direction: column;
}

button {
    background-color: inherit;
    padding: 5%  5%;
    border-radius: 35px;
    font-weight: bold;
}

button:hover {
    background-color: white;
}

