  <header>
    <img src="favicon.ico" alt="imagen">
    <h1>{{text}}</h1> <!-- {{}} statement-->
    <ul>
        <li><a href="">Link</a></li>
        <li><a href="">Link</a></li>
        <li><a href="">Link</a></li>
    </ul>
    <div>
        <button (click)="saludar()">Bienvenida</button>
    </div>
  </header>
  <main>
    <app-main></app-main>
  </main>

  <!-- 
        Directivas 
  Directivas de atributo ngClass, ngStyle, ngModel 
  Directiva Estructurales ngIf, ngFor, ngswitch
  Directiva Componente
  -->